.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-content: space-around;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cont{
  display: flex;
  flex-direction: row;
  align-content: center;
  
}
.cont1{
  width: 250px;
  height: auto;
  margin-left: 100px;
  margin-top: 10px;
  align-content: center;
  text-align: center;
}
.cont2{
  width: 700px;
  height: auto;
}
button{
  
    width: 70px;
    height: 50px;
    fontSize: 20px;
    fontWeight: bold;
    color: 'white';
    backgroundColor: blue;
    borderRadius: 10px;
    border: none;
    cursor: pointer;
    marginLeft: 45%;

}
img{
  height: auto;
  width: 200px;
  margin: 10px 10px 10px;
  box-shadow: 7px 7px 7px 7px #e9eef0;
}